<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.PeriApplication"
        android:allowBackup="true"
        android:appCategory="image"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Peri"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="Apache License, Version 2.0" />

        <activity
            android:name=".activities.MainComposeActivity"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LegacyActivity"
            android:enabled="false"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WallpaperAssociationActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/set_as_wallpaper"
            android:roundIcon="@mipmap/ic_launcher_round"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="true"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".services.AutoWallpaperService"
            android:exported="true"
            android:foregroundServiceType="shortService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:process=":auto_wallpaper_service">
            <intent-filter>
                <action android:name="app.peristyle.START_AUTO_WALLPAPER_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.NextWallpaperTileService"
            android:exported="true"
            android:icon="@drawable/ic_peristyle"
            android:label="@string/next_wallpaper"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgets.NextWallpaperWidget"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_next"
            android:label="@string/next_wallpaper"
            android:roundIcon="@mipmap/ic_next_round">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_wallpaper" />
        </receiver>

        <receiver
            android:name=".widgets.NextWallpaperWidgetTransparent"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_fast_forward"
            android:label="@string/next_wallpaper"
            android:roundIcon="@drawable/ic_fast_forward">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_next_wallpaper_transparent" />
        </receiver>

    </application>
</manifest>
